<div class="section-controllers sections" id="controllers">
  <h1 class="bg-primary">Controllers</h1>
  <p>
    Handles all the request. You can define specific middleware or validation here using the METHOD DECORATOR functions.
    Method decorators are special functions that inject informationt to declaritively specify what type of route is
    being decorated.
  </p>
  <h4>COMMAND</h4>
  <div class="bg-copyboard">
    <b>maya generate controllers [name-of-controller]</b>
    <br />or<br />
    <b>maya g c [name-of-controller]</b>
  </div>
  <hr />
  <h4>USAGE</h4>
  <div class="bg-copyboard">
    <b>maya g c sample</b>
    <br />or<br />
    <b>maya g c controller/sample</b>
  </div>
  <hr />
  <iframe
    #iframe
    type="text/javascript"
    width="60%"
    frameborder="0"
    style="height: 1350px; margin-left: auto; margin-right: auto; display: block;"
  ></iframe>
</div>
