.footer{
    height: 400px;
    position: relative;
}
.footer .footer-content{
    height: 350px;
    display: flex;
}
.footer .footer-content .footer-section{
    flex: 1;
    padding: 25px;
}
.footer .footer-section.center{
    text-align: center;
}
.footer .footer-copyright{
    height: 50px;
    position: absolute;
    bottom: 0px;
    left: 60px;
    padding-top: 20px;
    float: left;    
}
.footer .footer-language{
    height: 50px;
    position: absolute;
    bottom: 0px;
    right: 150px;
    padding-top: 20px;
    float: right;
}
