<div class="footer">
    <div class="footer-content">
        <div class="footer-section left">
            <img src="" alt="">
        </div>
        <div class="footer-section center">
            <h1>Subscribe</h1>
            <p>Subscribe to our newsletter & Get daily news</p><br>
            <form action="" method="post">
                <input type="email" name="" class="email-input">
                <button type="submit"></button>
            </form>
        </div>
        <div class="footer-section right">
            <img src="" alt="">
        </div>
    </div>    
    <div class="footer-copyright">
        Copyright 2020 All Rights Reserved &copy; TeamMayaJS
    </div>
    <div class="footer-language">
       Language:
    </div>
</div>