<div class="footer footer-bg">
    <div class="bg-filter">
        <div class="container">
            <div class="footer-head d-flex">
                <div class="footer-item">
                    <h3>RESOURCES</h3>
                    <li class="items" *ngFor="let resources of ResourcesLink">
                        <a href="">{{resources.title}}</a>
                    </li>
                </div>
                <div class="footer-item">
                    <h3>HELP</h3>
                    <li class="items" *ngFor="let help of HelpLink">
                        <a href="">{{help.title}}</a>
                    </li>
                </div>
                <div class="footer-item">
                    <h3>COMMUNITY</h3>
                    <li class="items" *ngFor="let community of CommunityLink">
                        <a href="">{{community.title}}</a>
                    </li>
                </div>
            </div>
            <div class="footer-foot">
                <p>
                    Lorem ipsum keme keme keme 48 years ang bakit katagalugan at bakit emena gushung bakit bella conalei at 48 years at ang pranella 
                </p>
                <p>
                    Lorem ipsum keme keme keme 48 years ang ganda lang 48 years 
                </p>
            </div>
        </div>
    </div>
</div>
