<div class = "stepper-global">
  <nav class = "navmenu" (click)="OnSelectLI()">
    <ul id="nav-list">
      <li><a id="intro" href="#" class="active">Introduction</a></li>
      <li><a id="getst" href="#" class="">Getting Started</a></li>
      <li><a id="req" href="#" class="">Requirements</a></li>
      <li><a id="install" href="#" class="">Installation</a></li>
      <li><a id="routes" href="#" class="">Routes</a></li>
      <li><a id="control" href="#" class="">Controllers</a></li>
      <li><a id="models" href="#" class="">Models</a></li>
      <li><a id="serve" href="#" class="">Services</a></li>
    </ul>
  </nav>
</div>
