@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

$colors: (primary: #9C1804,
  secondary: #000,

);

@function color($color-name) {
  @return map-get($colors, $color-name)
}

$tablet: 840px;
$desktop: 1280px;

@mixin tablet {
  @media(min-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media(min-width: #{$desktop}) {
    @content;
  }
}




header {
  display: flex;
  justify-content: space-between;

  .navbar {

    display: none;

    @include desktop {
      display: inline;
      margin-top: 1rem;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-decoration: none;
    }

  }

  li {
    @include desktop {
      float: left;
    }

    a {
      text-decoration: none;
      color: black;
      padding-right: 3rem;
    }

  }



  .logo-text {
    margin: 1rem;

    @include tablet {
      width: 13%;
    }

    @include desktop {
      width: 8%;
    }
  }

  .hamburger-icon {
    margin-top: .5rem;

    cursor: pointer;

    @include desktop {
      display: none
    }
  }
}
