<section class="introduction mt-5">
  <div class="topic">
    <h3 class="mb-3">Getting Started</h3>
    <p class="content highlight">
      MayaJS uses express under the hood for routing and middlewares. MayaJS hides any boiler plate code that are hard
      to setup for begginers when creating any nodejs server applications.
    </p>
  </div>
  <div class="topic">
    <h3 class="mb-3">Requirements</h3>
    <p class="content">
      Controllers, Models and Services are the key features of MayaJS. Developers are no longer to write complicated
      code MayaJS will do it for them. Validation of request is builtin on MayaJS without any third party library. We
      are trying to make MayaJS as simple as possible for every type developer.
    </p>
  </div>
  <div class="topic">
    <h3 class="mb-3">Installation</h3>
    <p class="content">
      The first thing we need to do is to install MayaJS and other dependencies. Run this command below to install
      MayaJS globally in your local machine.
    </p>
    <p class="content code">npm i @mayajs/cli -g</p>
  </div>
</section>
