<section class="introduction mt-5">
  <div class="topic">
    <h4 class="mb-3">Getting Started</h4>
    <p class="content highlight">
      In order to start using mayajs you must install the latest stable version of
      <a href="https://nodejs.org/en/" class="link">Nodejs</a> on your local machine. Having a prior knowledge in
      <a href="https://www.typescriptlang.org/" class="link">Typescript</a> or
      <a href="https://angular.io/" class="link">Angular</a> will help you alot. Like angular, mayajs uses typescript
      and much of the syntax implemented are heavily inspired from it.
    </p>
  </div>
  <div class="topic">
    <h4 class="mb-3">Overview</h4>
    <p class="content">Mayajs is consist of several npm packages on its ecosystem.</p>
    <ul>
      <li *ngFor="let package of packages">
        <a href="{{ package.url }}" class="link">{{ package.name }}</a> - <span>{{ package.description }}</span>
      </li>
    </ul>
  </div>
  <div class="topic">
    <h4 class="mb-3">Installation</h4>
    <p class="content">
      The first thing we need to do is to install MayaJS and other dependencies. Run this command below to install
      MayaJS globally in your local machine.
    </p>
    <p class="content code">npm i @mayajs/cli -g</p>
  </div>
</section>
