$colors: (primary: #dd1f02,
  secondary: #000,
  paragraphs: #5e5e5e,
  light: #eeeeee,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

section {
  padding-left: 5rem;
  padding-right: 5rem;
}

.topic {
  padding-bottom: 1.5rem;
}

.content {
  padding-left: 2rem;
}

.highlight {
  background-color: #faa2a257;
  margin: 1.5rem 2rem;
  padding: 1rem;
  border-radius: .25rem;
  font-weight: 400;
}

.code {
  background-color: #c4c4c457;
  margin: 1.5rem 2rem;
  padding: 1rem;
  border-radius: .1rem;
  font-weight: 600;
}

.link {
  font-size: large;
  font-weight: 600;
  text-decoration-line: underline;
  color: color(primary);
}
