<section class="description">
  <div class="description-left">
    <img src="{{ svg.maya }}" alt="mayajs" class="logo-maya-svg" />
    <img src="{{ svg.branch }}" alt="branch" class="branches" width="223" />
  </div>
  <div class="description-right">
    <h1 class="description-text">
      A simple <span class="text-red">Node.Js</span> Framework for creating <br />REST API server side applications
    </h1>
    <p class="subheading">MayaJS is designed for simplicity and ease of use for beginners</p>
    <div class="btn-grp">
      <button class="button get-started mr-3">Get Started</button>
      <button class="button github"><img src="{{ svg.github }}" alt="github" class="github-logo" />Github</button>
    </div>
  </div>
</section>
