<section class="homepage">
  <div class="container">
    <div class="home-top">
      <img src="assets/svg/Group 195.svg" alt="Maya Logo" class="maya-logo mb-5" />
      <h1 class="landing-text">
        A simple <span class="text-primary">Node.js</span> Framework for creating REST API server side applications
        using typescript
      </h1>
      <p class="subheading">MayaJS is designed for simplicity and ease of use for beginners</p>
    </div>
    <div class="home-bottom">
      <a href="start.html"><button class="btn btn-get-started">Get Started</button></a>
      <a href="https://github.com/mayajs/maya"><button class="btn btn-github">Github</button></a>
    </div>
  </div>
</section>
