@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

.logo-text {
  width: 20%;
  margin-top: 3%;
}

.home {
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.home {
  text-align: center;
  padding: 1em 2em;
}

.hide-mobile {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
}

.menu {
  width: 25px;
  margin-top: 45%;
}

.logo-maya-svg {
  width: 35%;
  margin-top: 10%;
}

.hero-text {
  font-size: 1.7em;
  font-weight: 150;
}

.text-red {
  color: #9C1804;
}

.subheading {
  font-size: 1em;
  font-style: light;
}

.button {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  border-radius: 30px;
  cursor: pointer;

}

.get-started {
  background: #9C1804;
  padding: 1em 10em;
  color: #fff;
}

.github {
  background: transparent;
  padding: 1em 11em;
  color: black;
  border: 1px solid;
  margin-top: 2%;
}

@media only screen and (min-width: 650px) {

  .menu {
    margin-top: 15%;
  }

  .logo-maya-svg {
    width: 40%;
    display: flex;
  }

  .hero {
    display: flex;
    justify-content: space-between;
  }

  .hero-text {
    margin-top: 18%;
    font-size: 2em;
    text-align: right;
  }

  .subheading {
    font-size: .6em;
  }

  .get-started {
    padding: 1.4em 8em;
  }

  .github {
    padding: 1.4em 8em;
  }

}

@media only screen and (min-width: 1024px) {

  .hero-text {
    margin-top: 10%;
  }

  .logo-text {
    width: 10%;
    margin-left: 3%;
    margin-top: 1%;
  }


  .logo-maya-svg {
    width: 25%;
    margin-top: 3%;
  }

  .branches {
    height: 38%;
    width: 35%;
    position: absolute;
    top: 23em;
    left: 0;
  }

  .show-desktop {
    display: block;
  }

  .hide-desktop {
    display: none;
  }

  a {
    text-decoration: none;
    color: black;
  }

  nav ul li {
    float: left;
    padding: 1em 1em;
  }

  .get-started {
    padding: 1em 8em;
  }

  .github {
    padding: 1em 8em;
    margin-top: 2%;
  }

}
