<div class="homepage">
    <div class="wrapper">
    <header>
        <img src="img/svg/logo-text.svg" alt="logo-text" class="logo-text">
        <a href="#"><img src="img/svg/hamburger.svg" alt="hamburger-icon" class="hamburger-icon"></a>
        <nav class="navbar">
            <ul>
                <li><a href="#">Features</a></li>
                <li><a href="#">Installation</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Learn More</a></li>
            </ul>
        </nav>
    </header>
    <section class="hero-section">
        <div class="hero-section-left">
            <img src="img/svg/logo-maya-svg.svg" alt="logo-maya-svg" class="logo-maya-svg">
            <img src="img/svg/branches.svg" alt="branches" class="branches">
        </div>
        <div class="hero-section-right">
            <h1 class="hero-text">
                A simple <span class="text-red">Node.Js</span> Framework for creating <br>REST API
                server side applications
            </h1>
            <p class="subheading"> MayaJS is designed for simplicity and ease of use for beginners</p>
            <div class="btn-grp">
            <button class=" button get-started">Get Started</button>
            <button class=" button github"><img src="img/svg/github.svg" alt="github-logo" class="github-logo">Github</button>
        </div>
        </div>
    </section>
</div>
</div>
