@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a{
  text-decoration: none;
  color: black;
  padding-right: 3rem;
}

.wrapper{
  padding: .9rem .5rem;
}

$colors: (
  primary: #9C1804,
  secondary: #000,

);

@function color($color-name){
  @return map-get($colors, $color-name)
}

$tablet: 840px;
$desktop: 1280px;

@mixin tablet {
  @media(min-width: #{$tablet}){
      @content;
  }
}

@mixin desktop {
  @media(min-width: #{$desktop}){
      @content;
  }
}

header{
  display: flex;
  justify-content: space-between;

  .navbar{

      display: none;

      @include desktop{
          display: inline;  
          margin-top: 1rem;  
      }
      
  }

  li {
      @include desktop{
          float: left;
      }
  }

  

  .logo-text{
      margin: 1rem;

      @include tablet{
          width: 13%;
      }

      @include desktop{
          width: 8%;
      }
  }

  .hamburger-icon{
      margin-top: .5rem;

      cursor: pointer;

      @include desktop{
          display: none
      }
  }
}


.hero-section{
  @include tablet{
      display: flex;
      justify-content: space-between;
  }

  .hero-section-left{



      .logo-maya-svg{
          width: 56%;
          margin-top: 1rem;
          @include tablet{
              width: 130%;
              margin: 1rem;
          }

          @include desktop{
              width: 180%;
              
          }

      }

      .branches{
          display: none;
          @include tablet{
              display: block;
              width: 350px;
              position: absolute;
              top: 23;
              left: 0;
          }

          @include desktop{
              top: 24rem;
              width: 480px;
          }

      }


  }
  
  .hero-section-right{
      text-align: center;
      

      @include tablet{
         text-align: right;
         margin: 1.5rem; 
      }

      @include desktop{
          margin-right: 3rem;
      }

      .text-red{
          color: color(primary);
      }

      .hero-text{
          font-size: 1.3rem;
          font-weight: 400;

          @include tablet{
              font-size: 1.6rem;
              margin-top: 5rem;
          }

          @include desktop{
              font-size: 2.3rem;
              margin-top: 4rem;
          }
             
      }

      .subheading{
          font-size: .7rem;

          @include desktop{
              font-size: 1rem;
          }
          
      }

      button{
          border: none;
          color: white;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 1em;
          border-radius: 30px;
          cursor: pointer;
          margin-bottom: 2%;
          width: 80%;
          

          @include tablet{
              margin-top: 3%;
              width: 40%;
              
          }

          @include desktop{
              width: 30%;

          }
      }


      .get-started{
          background: color(primary);
          padding: 1.3em;
          color: #fff;

          @include tablet{
              padding: 1em;
          }
          
      }

      .github{
          background: transparent;
          padding: 1.3em;
          color: color(secondary);
          border: 1px solid;  

          @include tablet{
              padding: 1rem;
          }
      }        

      .github-logo{
          margin-right: .5rem;     
      }
  }
}
