<section class="introduction mt-5">
  <div class="topic">
    <h4 class="mb-3" id="easy">Methods</h4>
    <div class="notice notice-danger">
      <strong>Methods</strong> are sets of functions that decorates a function to handle an incoming http request from
      the client. It can also accepts middleware functions to perform validations or parse any incoming data. You can
      also stack each decorated function to make a chain of request. Execution of this methods will be from top to
      button when you stack them.
    </div>
  </div>
</section>
