<h1 class="hero-text">Key <span class="text-red">Features</span></h1>
<br />

<div class="container marketing">
  <div class="row mb-4">
    <div class="col-md-4">
      <div class="card border-0 grayscale">
        <div class="card-body">
          <div class="row mb-4">
            <div class="col-md-3"></div>
            <div class="col-md-3">
              <img src="../../assets/svg/typescript.svg" width="120" height="120" />
            </div>
            <div class="col-md-3"></div>
          </div>
          <div class="row text-center">
            <p>
              <span class="text-red">MayaJS</span> is built using typescript to take advantage of strongly type checking
              for easy code troubleshooting in development.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-0">
        <div class="card-body">
          <div class="row mb-4">
            <div class="col-md-3"></div>
            <div class="col-md-3">
              <img src="../../assets/svg/routing.svg" width="120" height="120" />
            </div>
            <div class="col-md-3"></div>
          </div>
          <div class="row text-center">
            <p><span class="text-red">MayaJS</span> uses express under the hood for routing and middlewares.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-0">
        <div class="card-body">
          <div class="row mb-4">
            <div class="col-md-3"></div>
            <div class="col-md-3">
              <img src="../../assets/svg/Code.svg" width="120" height="120" />
            </div>
            <div class="col-md-3"></div>
          </div>
          <div class="row text-center">
            <p>
              <span class="text-red">MayaJS</span> hides any boiler plate code that are hard to setup for begginners
              when creating any nodejs server applications.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div class="card border-0">
        <div class="card-body">
          <div class="row mb-4">
            <div class="col-md-3"></div>
            <div class="col-md-3">
              <img src="../../assets/svg/Settings.svg" width="120" height="120" />
            </div>
            <div class="col-md-3"></div>
          </div>
          <div class="row text-center">
            <p>
              Controllers, Models and Services are the key Features of <span class="text-red">MayaJS</span>. Developers
              are no longer to write complicated code MayaJS will do it for them.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-0">
        <div class="card-body">
          <div class="row mb-4">
            <div class="col-md-3"></div>
            <div class="col-md-3">
              <img src="../../assets/svg/check.svg" width="120" height="120" />
            </div>
            <div class="col-md-3"></div>
          </div>
          <div class="row text-center">
            <p>
              Validation of request is builtin on <span class="text-red">MayaJS</span> without any third party library.
              We are trying to make MayaJS as simple as possible for every type of developer.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
