<div class="section-models sections" id="models">
  <h1 class="bg-primary">Models</h1>
  <p>
    This is a moongoose model that the controller will use to mapped the data to be save or modified from a database.
  </p>
  <h4>COMMAND</h4>
  <div class="bg-copyboard">
    <b>maya generate model [name-of-model]</b>
    <br />or<br />
    <b>maya g m [name-of-model]</b>
  </div>
  <hr />
  <h4>USAGE</h4>
  <div class="bg-copyboard">
    <b>maya g model sample</b>
    <br />or<br />
    <b>maya g m controller/sample</b>
  </div>
  <hr />
  <iframe
    #iframe
    type="text/javascript"
    width="60%"
    frameborder="0"
    style="height: 320px; margin-left: auto; margin-right: auto; display: block;"
  ></iframe>
</div>
