<div class="content">
  <span class="title">Features</span>
  <div class="features">
    <div class="first-group">
      <div id="typescript" class="feature">
        <img src="{{ svg.ts }}" alt="mayajs" class="feature-svg" />
        <span>
          <b>MayaJS</b> is built using Typescript to take advantage of strongly type checking for easy code
          troubleshooting in development
        </span>
      </div>
      <div id="express" class="feature">
        <img src="{{ svg.express }}" alt="mayajs" class="feature-svg" />
        <span><b>MayaJS</b> uses express under the hood for routing and middlewares </span>
      </div>
      <div id="code" class="feature">
        <img src="{{ svg.code }}" alt="mayajs" class="feature-svg" />
        <span>
          <b>MayaJS</b> hides any boiler plate code that are hard to setup for begginers when creating any nodejs server
          applications
        </span>
      </div>
    </div>
    <div class="second-group">
      <div id="controllers" class="feature">
        <img src="{{ svg.setting }}" alt="mayajs" class="feature-svg" />
        <span>
          Controllers, Models and Services are the key features of <b>MayaJS</b>. Developers are no longer to write
          complicated code MayaJS will do it for them.
        </span>
      </div>
      <div id="validations" class="feature">
        <img src="{{ svg.check }}" alt="mayajs" class="feature-svg" />
        <span>
          Validation of request is builtin on <b>MayaJS</b> without any third party library. We are trying to make
          MayaJS as simple as possible for every type developer.
        </span>
      </div>
    </div>
  </div>
</div>
