<html>
<body>
      <main>
            <div>
                  <h2>Setup and Installation Guide</h2> <br>
                  <p>
                        We are trying to make MayaJS as simple as possible for every type developer. This page will
                        serve as your very guide to seamlessly install and setup Maya JS in your machine. Follow these
                        easy steps to get started.
                  </p>
                 <br>
                  <div class="tipbox">
                        <p style="margin: 5px auto 5px 5px"><strong>Tip💡</strong></p>
                        <p style="margin: auto auto 5px 5%">We are assuming that you have Node.js® and npm packet
                              manager installed into your local machine, and if not, don't worry, we have the step by
                              step guide for you. Feel free to click here and install <a class="highlight" href="#"> Node.js
                               </a> and <a class="highlight" href="#"> npm packet manager</a>.</p>
                  </div>

                  <section id="installation"><hr>
                        <h3>Installation</h3>
              
                        <p>To start, open your</p>
                        <ul>
                              <li> <strong>CLI terminal</strong> by pressing <strong>Windows + R </strong> and
                                    type<strong> cmd</strong> or search <strong>command prompt</strong> in start menu.
                              </li>
                              <li> Then, type <span class="highlight-span"> npm i @mayajs/cli -g
                                    </span>to install MayaJS globally in your local machine.
                              </li>
                              <br>
                        </ul>
                  </section>

                  <section id="quickstart">
                        <h3>Quick Start</h3><hr>
            
                        <p>Next is to</p>
                              <ul>
                                    <li> Run <span class="highlight-span"> maya new &#60;name-of-project&#62;</span><i> e.g.</i><span class="highlight-span">my-new-app</span>.
                                    </li>
                                    <li> Run <span class="highlight-span"> cd &#60;name-of-project&#62;</span> to go inside the your project folder.</li>
                                    <li> Run <span class="highlight-span"> maya serve</span> or <span class="highlight-span">maya s</span> to start your MayaJS project.</li>
                              </ul>
                                    <p class="tipbox2">💡 In case where the port number is already in use or you want to run it in different port number, use <em>--port </em>to specify a different port.
                                    </p>
                  </section>

                  <section>
                        <p>....</p>
                  </section>

                  <section>
                        <p>.....</p>
                  </section>

                  <section id="additional-info">
                        <h3>Additional Info</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis ut reiciendis eaque beatae odit facere quam asperiores nisi perferendis sint officiis repellat, tempore est recusandae aperiam quis? Omnis, vitae sint?
                        Quod harum, non magni eum consequuntur mollitia magnam, in culpa iste ut aliquid numquam ullam eveniet officia architecto! Tempora magni eaque illum dignissimos suscipit, rem commodi exercitationem porro aperiam atque!
                        Maiores adipisci, fugit itaque voluptatibus nobis voluptas error quas mollitia laboriosam quod enim tempore et beatae perferendis soluta velit repellendus est corrupti explicabo, vel cumque nam ipsum! Eveniet, id inventore!</p>
                  </section>
       
                  <section id="additional-info2">
                        <h3>Additional Info2</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis ut reiciendis eaque beatae odit facere quam asperiores nisi perferendis sint officiis repellat, tempore est recusandae aperiam quis? Omnis, vitae sint?
                        Quod harum, non magni eum consequuntur mollitia magnam, in culpa iste ut aliquid numquam ullam eveniet officia architecto! Tempora magni eaque illum dignissimos suscipit, rem commodi exercitationem porro aperiam atque!
                        Maiores adipisci, fugit itaque voluptatibus nobis voluptas error quas mollitia laboriosam quod enim tempore et beatae perferendis soluta velit repellendus est corrupti explicabo, vel cumque nam ipsum! Eveniet, id inventore!</p>
                  </section>
            </div>


            <nav class="section-nav">
                  <ol>
                        <li><a href="#">Use this side nav when the page exceeds the viewport of the user</a></li>
                        <hr>
                        <li><a href="#installation">Installation</a></li>
                        <li><a href="#quickstart">Quick Start</a></li>
                        <li><a href="#additional-info">Additional Info</a></li>
                        <li><a href="#additional-info2">Additional Info2</a></li>
                        <li><a href="#">Additional Info</a></li>
                        <li><a href="#">Additional Info</a></li>
                  </ol>
            </nav>

      </main>
</body>
</html>