.page {
  display: grid;
  grid-template-columns: 250px 6fr;
}

$colors: (
  primary: #dd1f02,
  secondary: #000,
  paragraphs: #5e5e5e,
  light: #eeeeee,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$tablet: 840px;
$desktop: 1280px;

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

.main {
  padding: 0px 1rem;
  text-align: left;
}
