<div class="page">
  <div class="sidenav">
    <a class="nav-link" *ngFor="let navItem of navItems" (click)="navigateUrl(navItem.url)">{{ navItem.title }}</a>
  </div>
  <div class="main">
    <div id="introduction">
      <app-introduction></app-introduction>
    </div>
    <div id="routes">
      <app-routes></app-routes>
    </div>
    <div id="controllers">
      <app-controllers></app-controllers>
    </div>
    <div id="models">
      <app-models></app-models>
    </div>
    <div id="services">
      <app-services></app-services>
    </div>
  </div>
</div>
