.page {
  display: grid;
  grid-template-columns: 250px 6fr;
}

$colors: (primary: #dd1f02,
  secondary: #000,
  paragraphs: #5e5e5e,
  light: #eeeeee,
);

@function color($color-name) {
  @return map-get($colors, $color-name)
}

$tablet: 840px;
$desktop: 1280px;

@mixin tablet {
  @media(min-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media(min-width: #{$desktop}) {
    @content;
  }
}

.nav-link {
  color: color(light);
  cursor: pointer;

  &:hover {
    color: color(light);
  }
}

// Side Navigation and Main
.sidenav {
  height: 100%;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 3rem;
  border-right: .5px solid #dddddd;

  h3 {
    font-weight: 300;
  }

  a {
    padding-left: 1.5rem;
    text-decoration: none;
    display: block;
    text-align: left;

    &.main-menu {
      color: color(secondary);
      font-weight: 600;
    }

    .sub-link {
      list-style-type: none;
      margin: 0;
      padding-left: 0;

      li {
        text-indent: -5px;

        a {
          text-decoration: none;
          color: color(paragraphs);

          &.sub-menu {
            font-weight: 400;

            &:hover {
              color: color(primary);
              background-color: color(light);
              text-decoration-line: underline;
            }
          }
        }

        a:before {
          text-indent: 10px;
        }
      }
    }
  }

}

.main {
  padding: 0px 1rem;
  text-align: left;
}

.mayajs {
  font-weight: 500;
  color: color(primary);
}
