.page {
  display: grid;
  grid-template-columns: 250px 6fr;
}

$colors: (primary: #dd1f02,
  secondary: #000,
  paragraphs: #5e5e5e,
  light: #eeeeee,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$tablet: 840px;
$desktop: 1280px;

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

.nav-link {
  color: color(light);
  cursor: pointer;

  &:hover {
    color: color(light);
  }
}

.sidenav::-webkit-scrollbar {
  background-color: #ffc1c1;
  width: .3em;
}

.sidenav::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(129, 129, 129, 0.3);
}

.sidenav::-webkit-scrollbar-thumb {
  height: 50px;
  border-radius: 10px;
  background-color: #ff7b7b;
  outline: 1px solid slategrey;
}

// Side Navigation and Main
.sidenav {
  height: 100vh;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 3rem;
  border-right: 0.5px solid #dddddd;
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  h3 {
    text-indent: -25px;
    font-weight: 300;
  }

  a {
    padding-left: 1.5rem;
    text-decoration: none;
    display: block;
    text-align: left;

    &.main-menu {
      color: color(secondary);
      font-weight: 600;

      &:hover {
        text-decoration-line: underline;
      }
    }
  }
}

.sub-link {
  list-style-type: none;
  margin: 0;
  padding-left: 1rem;

  li {
    text-indent: -5px;

    a {
      text-decoration: none;
      color: color(paragraphs);

      &.sub-menu {
        font-weight: 400;

        &:hover {
          border-radius: 5px;
          color: color(primary);
          font-weight: 600;
          background-color: #ffc1c159;
          text-decoration-line: underline;
        }
      }
    }

    a:before {
      text-indent: 10px;
    }
  }
}

.main {
  padding: 0px 1rem;
  text-align: left;
}

.mayajs {
  font-weight: 500;
  color: color(primary);
}
