   <div class="row">
        <div class="col-md-6">           
        </div>
        <div class="col-md-6">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow h-md-250 position-relative">
                <div class="col-auto d-none d-lg-block">
                    <img src="../../assets/svg/mission.svg" width="250" height="300" >
                </div>
                <div class="col p-4 d-flex flex-column position-static">
                  <h4 class="mb-0">Mission</h4><br>
                  <p class="card-text mb-auto">We begin with determination to understand your brand and the intricate details of each unique project. we are trying to make MayaJS as simple as possible for every type of developer.</p>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-6">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <h4 class="mb-0">Vision</h4><br>
                <p class="card-text mb-auto">We begin with determination to understand your brand and the intricate details of each unique project. we are trying to make MayaJS as simple as possible for every type of developer.</p>
              </div>
              <div class="col-auto d-none d-lg-block">
                <img src="../../assets/svg/vision.svg" width="250" height="300" >
              </div>
            </div>
        </div>
    </div>