<div class="section-services sections" id="services">
  <h1 class="bg-primary">Services</h1>
  <p>
    To create a service all you need to do is to run maya g service [name-of-service] or maya g s [name-of-service] via
    Mayajs CLI. Services can be injected inside of a controller or another service. This will make your code more
    reusable and shareable across your code base. Below shows a basic code example inside a sevice fiel.
  </p>
  <hr />
  <h4>COMMAND</h4>
  <div class="bg-copyboard">
    <b>maya generate services [name-of-services]</b>
    <br />or<br />
    <b>maya g s [name-of-services]</b>
  </div>
  <hr />
  <h4>USAGE</h4>
  <div class="bg-copyboard">
    <b>maya g services sample</b>
    <br />or<br />
    <b>maya g s controller/sample</b>
  </div>
  <hr />
  <iframe
    #iframe
    type="text/javascript"
    width="60%"
    frameborder="0"
    style="height: 280px; margin-left: auto; margin-right: auto; display: block;"
  ></iframe>
</div>
