<div class="section-routes sections" id="routes">
  <h1 class="bg-primary mb-2">Routes</h1>
  <p>
    This module handles all the routes for our server. You can define a path for your controllers. You can also add
    middlewares for your route to use. These middlewares will be executed first before your controller.
  </p>
  <hr />
  <h4>COMMAND</h4>
  <div class="bg-copyboard">
    <b>maya generate route [name-of-route]</b>
    <br />or<br />
    <b>maya g r [name-of-route]</b>
  </div>
  <hr />
  <h4>USAGE</h4>
  <div class="bg-copyboard">
    <b>maya g r users</b>
    <br />or<br />
    <b>maya g r controller/users</b>
  </div>
  <hr />
  <iframe #iframe type="text/javascript" width="100%" frameborder="0" style="height: 280px;"></iframe>
</div>
