.content {
  height: 100%;
  padding: .5rem;
  display: grid;
  grid-template-columns: 1fr 3fr;

  .card {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 3fr 2fr;
    height: 80%;
    width: 100%;
    background-color: #e4e4e4;
    justify-content: end;
    align-self: center;
    border-radius: 5px;
    border: 1px solid #e4e4e4;
    -webkit-box-shadow: -14px 15px 40px -15px rgba(179, 177, 179, 1);
    -moz-box-shadow: -14px 15px 40px -15px rgba(179, 177, 179, 1);
    box-shadow: -14px 15px 40px -15px rgba(179, 177, 179, 1);

    .mission-svg {
      height: 100%;
      width: 60%;
      justify-self: center;
    }

    .statement {
      align-self: center;
      padding: 1rem;
      display: grid;
      grid-template-rows: 1fr 2fr;

      .mission-title {
        justify-self: center;
        font-size: 4rem;
      }

      .mission-text {
        justify-items: end;
        font-size: 1.5rem;
      }
    }
  }
}
