<html>
      <body>
            <main>
                  <div>
                        <section>
                              <hr>
                              <br>
                              
                  <h2>Introduction to the MayaJS DOCS</h2>
                  <p> A simple Node.js Framework for creating REST API server-side-applications. MayaJS is designed for simplicity and ease of use for beginners. </p>
           
                  <p>   These following documentations will lead you to be familiar and learn to use the MayaJS framework. From the very beginning to finish, these documentations will serve as your guide in working to your project. From first simple app to projects that each individual can use for enterprises. Tutorials and examples are also provided as your stepping stone to achieve your dream project.
                  <br>
                  <br>
                  <hr>
            </section>
            <section>
            <div class="container-allcards">
                  <div class="card">
                  <div class="card-body">
                        <h5 class="card-title">Sample Project</h5>
                        <p class="card-text">Recommended for beginners, build simple app and learn the important fundamentals of the framework.</p>
                        <hr>
                              <div class="a-right">
                              <a routerLink="#" class="section-link stretched-link">
                                    Your starter app
                              </a>
                              </div>
                  </div>
                  </div>
                  <div class="card">
                  <div class="card-body">
                        <h5 class="card-title">Installation Guide</h5>
                        <p class="card-text">Here lies all the requirements and step by step setup procedures that you need to start your very project! 👍
                        <hr>
                              <div class="a-right">
                              <a routerLink="#" class="section-link stretched-link" >
                                    Setup
                              </a>
                              </div>
                  </div>
                  </div>
                  
                  <div class="card">
                        <div class="card-body">
                              <h5 class="card-title">Fundamentals</h5>
                              <p class="card-text">Start learning the important concepts to have a better understanding of the framework. </p>
                              <hr>  
                                    <div class="a-right">
                                    <a routerLink="#" class="section-link stretched-link">
                                          Click here to explore
                                    </a>
                                    </div>
                         </div>
                  </div>
               
      </div>
      </section>
      <section>
            <hr>
            <h5>Add more details here</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo velit quasi impedit culpa iste architecto reiciendis ut ullam saepe?
            </p>
            <p> Possimus odit quisquam, praesentium vitae blanditiis accusamus ut error. Dolore, enim?Porro, laborum tempora, quae suscipit nulla dignissimos aliquid laudantium itaque molestiae quidem magni natus ad quaerat temporibus ullam eveniet placeat rerum vel. Molestiae mollitia perferendis, harum eligendi omnis qui molestias?</p>
            <hr>
      </section>
     
      <div class="tipbox">
            <p class="tipbox-p"><strong>Tip 💡</strong></p>
            <p class="p-style">This tip box is optional. It is used to highlight some important details about the
             <a class="highlight" routerLink="#">context</a> and give them <a class="highlight" routerLink="#">navigation</a> to it.</p>
            <p class="p-style">Feel free to optimize it and utilize it in other part of the project. Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
      </div>

</div>

</main>
</body>
</html>