<div class="home">
    <header>
        <img src="../../assets/svg/maya-logo-text.svg" alt="logo-text" class="logo-text">
        
        <nav>
            <a href="#" alt=""><img src="../../assets/svg/hamburger.svg" alt="hamburger icon" class="menu hide-desktop"></a>
            <ul class="show-desktop hide-mobile">
                <li><img src="svg/exit.svg" alt="exit button" class="exit-btn hide-desktop"></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Installation</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Learn More</a></li>
                
            </ul>
        </nav>
    </header>
    
    <section class="hero-section">
       <div class="hero">
            <img src="../../assets/svg/maya-logo.svg" alt="logo-maya-svg" class="logo-maya-svg">
            <img src="../../assets/svg/branches.svg" alt="logo-text" class="branches hide-mobile show-desktop">   
            <h1 class="hero-text">A simple <span class="text-red">Node.js</span> Framework for creating<br> REST API server side applications</h1>
            <p class="subheading">MayaJS is designed for simplicity and ease of use for beginners</p>
        </div>
        
        

            <button class="button get-started">Get Started</button>
            <button class="button github">Github</button>
    </section>
</div>