<section class="introduction mt-5">
  <div class="topic">
    <h4 class="mb-3" id="easy">Why MayaJS?</h4>
    <div class="notice notice-danger">
      <strong>MayaJS</strong>
      makes it easy to build complex RESTful api, maintainable routing, easy API versioning, shareable services, and
      reusable logic.
    </div>
  </div>
  <div class="topic">
    <h4 class="mb-3" id="easy">Easy to use</h4>
    <ul>
      <li *ngFor="let easy of easyList">{{ easy }}</li>
    </ul>
  </div>
  <div class="topic">
    <h4 class="mb-3" id="simplicity">Simplicity</h4>
  </div>
  <div class="topic">
    <h4 class="mb-3" id="typescript">Typescript</h4>
  </div>
  <div class="topic">
    <h4 class="mb-3" id="inbetween">In Between</h4>
  </div>
  <hr />
  <div class="row justify-content-between pr-2 mb-5">
    <div class="col-md-2 text-left previous">
      <p class="m-0"><b>< PREVIOUS</b></p>
      <h4 class="text-left"><a routerLink="/get-started/introduction">Introduction</a></h4>
    </div>
    <div class="col-md-2 text-right next">
      <p class="m-0"><b>NEXT ></b></p>
      <h4 class="text-right"><a routerLink="/get-started/components">Components</a></h4>
    </div>
  </div>
</section>
