$colors: (primary: #9C1804,
  secondary: #000,
  paragraphs: #5e5e5e,
  light: #eeeeee,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

.bg-primary {
  background-color: color(primary) !important;
  color: #fff;
  padding: 1rem 1rem;
  font-weight: 100;
}

.upper-intro {
  display: flex;
}

.welcome-maya {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.text-welcome {
  text-align: right;
  padding-right: 3rem;
}

.import {
  height: 50%;
}

.sections {
  height: 100%;
  padding-bottom: 3rem;
}

.bg-copyboard {
  background-color: #e7e7e7;
  padding: 1.5rem 1rem;
}
